<div class="input-group">
  <input 
    value="<%= form[name]%>"
    type="number" 
    class="form-control" 
    name="<%= name %>" 
    placeholder="<%= placeholder %>" 
    min="<%= min %>">
  <span class="input-group-text">€</span>
</div>