<div class="container-fluid px-5" id="searchBar">
  <div class="row justify-content-center gap-2 gap-lg-0">
    <div class="col-12 col-lg-3">
      <label for="where" class="form-label">Where?</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
        </span>
        <input 
          value="<%= form.where%>"
          id="where" 
          name="where" 
          class="form-control" 
          type="search">
      </div>
    </div>
    <div class="col-12 col-lg-5 mx-4">
      <div class="row">
        <div class="col">
          <label for="start" class="form-label">Start</label>
          <input 
            value="<%= form.start %>"
            id="start" 
            name="start" 
            class="form-control" 
            type="date">
        </div>
        <div class="col">
          <label for="end" class="form-label">End</label>
          <input 
            value="<%= form.end %>"
            id="end" 
            name="end" 
            class="form-control" 
            type="date">
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2">
      <label for="persons" class="form-label">Persons</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
          </svg>
        </span> 
        <input 
          value="<%= form.persons || 2 %>" 
          type="number" 
          id="persons" 
          name="persons" 
          class="form-control text-center" 
          min="1">
      </div>
    </div>
    <div class="div-for-search my-3 my-lg-0">
      <div>
        <button class="btn btn-outline-primary">Search</button>
      </div>
    </div>
  </div>
</div>