body {
  font-family: 'Lato', sans-serif;
}
.header {
  background: linear-gradient(338deg, rgba(112,250,200,1) 0%, rgba(25,165,255,1) 100%);
  min-height: 200px;
}
.header-zeyada {
  font-family: 'Zeyada', cursive;
  font-size: 48px;
  font-weight: 700;
}
.footer {
  color: rgba(25,165,255,1);
  padding-block: 20px;
  letter-spacing: 1px;
}
.navbar {
  padding: 0;
  transition: background-color 0.3s ease-in-out;
}
.navbar:hover {
  background-color: rgb(0, 0, 0, 0.4);
}
.nav-item {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}
.nav-item:hover {
  border-bottom: 2px solid white;
}
.nav-link {
  color: white !important;
}
.nav-link.active {
  font-weight: 700;
}
.div-for-search {
  flex-basis: 100px;
  display: flex;
  align-items: flex-end;
}
.photo {
  overflow: hidden;
  position: relative;
  margin: 10px;
}
.thumbnail-image {
  max-width: 320px;
  max-height: 220px;
  padding: 0;
  margin: 0;
  scale: 110%;
  transition: scale 0.3s ease-in-out;
}
.thumbnail-image:hover {
  scale: 115%;  
}
.thumbnail-label {
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.container-galery {
  overflow: hidden;
  padding: 30px 150px;
}
.shadow-box {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px 50px;
}
.filtration {
  width: 300px;
}


@media (max-width: 991px) {
  .navbar {
    padding: 17px 0px;
  }
  .nav-item {
    justify-content: left;
    min-height: 30px;
  }
  .nav-item:hover {
    border-bottom: 2px solid white;
  }
  .container-galery {
  padding: 30px 0px;
  }
  .filtration {
    width: 100%;
  }
  .letter-spacing {
    letter-spacing: 1px;
  }
}