<article>
  <div class="container-fluid container-lg my-4">
  <Header>
    <h2 class="letter-spacing">All inclusive</h2>
  </Header>
    <div class="my-4">
      <h5>Selected filters: </h5>
    </div>
    <button class="btn btn-primary w-100 mb-4 py-2 d-lg-none" type="button">Filtration</button>
    <div class="row gap-4 gap-lg-0">
      <div class="col-12 filtration">
        <aside>
          <%- include('./partials/filtration') %>
        </aside>
      </div>
      <div class="col-12 col-md">
        <section>
          <% trips.forEach(trip => { %>
            <%- include('./partials/trip', { trip }) %>
          <% }) %>
          <%- include('./partials/pagination') %>
        </section>
      </div>
    </div>
  </div>
</article>
