<div class="container-fluid my-4">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Admin panel</h2>
    </div>
    <div class="card-body">
      <h3>List of trips</h3>
      <table class="table my-4 text-center">
        <thead>
          <tr>
            <th>Country</th>
            <th>Region</th>
            <th>City</th>
            <th>Hotel</th>
            <th>Hotel standard</th>
            <th>Start</th>
            <th>End</th>
            <th>From</th>
            <th>Food</th>
            <th>Transport</th>
            <th>Popular</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Spain</td>
            <td>Majorka</td>
            <td>Playa de muro</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <a href="/admin/add" class="btn btn-primary px-3 py-2">Add trip</a>
    </div>
  </div>
</div>